<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mitrakreasindo.pos.main"
          android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.mitrakreasindo.pos.common.Wireless.BluetoothService"/>

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Register New User"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".maintenance.user.UserActivity"
            android:label="@string/users"/>
        <activity
            android:name=".maintenance.user.UserFormActivity"
            android:label="@string/add_user"/>
        <activity
            android:name=".maintenance.user.UserDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".maintenance.role.RoleActivity"
            android:label="@string/roles"/>
        <activity
            android:name=".stock.category.CategoryActivity"
            android:label="@string/category"/>
        <activity
            android:name=".stock.product.ProductActivity"
            android:label="@string/title_activity_product">
        </activity>
        <activity
            android:name=".stock.category.CategoryFormActivity"
            android:label="@string/add_category">
        </activity>
        <activity
            android:name=".stock.product.ProductFormActivity"
            android:label="@string/add_product">
        </activity>
        <activity
            android:name=".stock.diary.activity.DiaryActivity"
            android:label="@string/stock_diary">
        </activity>
        <activity
            android:name=".stock.diary.activity.DiaryFormActivity"
            android:label="@string/add_diary">
        </activity>
        <activity
            android:name=".sales.SalesActivity"
            android:label="Sales"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".sales.payment.PaymentActivity"
            android:label="Payment"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".stock.diary.activity.DiarySelectProductActivity">
        </activity>
        <activity
            android:name=".maintenance.taxes.TaxesActivity"
            android:label="@string/taxes"/>
        <activity
            android:name=".maintenance.taxes.TaxesFormActivity"
            android:label="@string/tax_form"/>

        <activity android:name=".report.SubReportActivity"
                  android:label="@string/reports" />
        <activity
            android:name=".maintenance.role.RolePermissionActivity"
            android:label="@string/role_form">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.mitrakreasindo.pos.common.Wireless.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>
        <activity android:name="com.mitrakreasindo.pos.common.Wireless.Wireless_Activity"/>
        <activity android:name=".closecash.CloseCashActivity">
        </activity>
        <activity
            android:name=".report.ReportActivity"
            android:label="@string/reports"/>
    </application>

</manifest>